<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <h1>Create a Basketball Team!</h1>

<form action="/team" method="POST">

  <label for="POST-team_name">Team Name:</label>
  <input id="POST-team_name" type="text" name="name">

  <br>
  <br>

  <label for="POST-coach">Coach:</label>
  <input id="POST-coach" type="text" name="coach">

  <br>
  <br>

  <label for="POST-pointguard">Pointguard:</label>
  <input id="POST-pointguard" type="text" name="pg">

  <br>
  <br>

  <label for="POST-shootinggueard">Shooting Guard:</label>
  <input id="POST-shootinggueard" type="text" name="sg">

  <br>
  <br>

  <label for="POST-powerforward">Power Forward:</label>
  <input id="POST-powerforward" type="text" name="pf">

  <br>
  <br>

  <label for="POST-smallforward">Small Forward:</label>
  <input id="POST-smallforward" type="text" name="sf">

  <br>
  <br>

  <label for="POST-center">Center:</label>
  <input id="POST-center" type="text" name="c">


  <br>
  <br>

  <button type="submit" id="Submit">Create</button>
</form>
 </body>
</html>


